body {
    padding: 0;
    margin: 0;
}
.header {
    background-color: #eceaf5;
}
.d-flex {
    display: flex
}
.justify-between {
    justify-content: space-between;
}
.logo img{
    width: 80px;
    height: auto;
}
.text-center {
    text-align: center;
}
.align-center {
    align-items: center;
}
.fs-22 {
    font-size: 22px;
}
.nav-items > ul {
    padding: 0;
    margin: 0 20px;
    list-style-type: none;
    align-items: center;
}
.nav-items > ul > li {
    padding: 10px;
}
.search {
    display: flex;
    margin: 20px 10px;
    align-items: center;
    justify-content: center;
}
.search-input,.sort_text {
    font-weight: bold;
    border: 1px solid #decaca;
    border-radius: 5px;
    width: 10%;
    height: 40px;
    margin-right: 30px;
    padding: 0 20px;
    font-size: 14px;
    background: #f1f1f1;
}
.search-bar {
    padding: 25px;
}
.search-text {
    margin: 0 10px;
    height: 32px;
}
.btn-search {
    height: 36px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #decaca;
}
.search-input:hover,.sort_text:hover,
.search-input:active,.sort_text:active    {
    background-color: #8a97b5;
}

h3.titleres {
    padding-left: 10px;
    margin: 10px 0;
}
.rest-card {
    background: #eceaf5;
    width: 14%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    width: 200px;
    height: 400px;
    background-color:#eceaf5;
    margin: 20px;
}
.rest-card .image > img {
    width: 200px;
    height: 200px;
}
.body-main {
    padding: 50px;
}
p.rating {
    margin:0 5px
}
p.time {
    margin: 0 10px;
}
.star-icon {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}
.desc, p.types {
    padding: 0 5px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slider-content img {
    margin: 0 20px;
}
.slider {
    width: 1200px;
    margin: auto;
    overflow: scroll hidden;
}
/*scroll bar*/
::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
    /* height: 10px; */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #eee0e0; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 5px solid #f1f1f1; /* Padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover state for the scrollbar thumb */
}

.login{
    background-color: #8a97b5;
    font-size: 16px;
    padding: 11px;
    border: 0;
    border-radius: 4px;
    color: #fefefe;
}
.d-block {
    display: block;
}
.rest-item-container {
    width: 900px;
    display: block;
    margin: auto;
}
/* .rest-item-container {

} */
a {
    text-decoration: none;
    color: black;
}
.main-card {
    border-bottom: 1px solid #8a97b5;
    margin: 20px;
}
.main-card p.desc {
    padding: 5px 60px 20px 0;
}
img.star-img {
    padding-right: 5px;
}
.bestsel {
    color: red;
    margin: 0;
}
.main-card h2{
    margin-top: 5px;
}
.text-recom, .veg-btn, .nonveg-btn {
    margin: 10px;
}
.veg-btn, .nonveg-btn {
    cursor: pointer;
}
.text-recom {
    color: red
}