body {
    padding: 0;
    margin: 0;
}
.header {
    background-color: #eceaf5;
}
.d-flex {
    display: flex
}
.justify-between {
    justify-content: space-between;
}
.logo img{
    width: 80px;
    height: auto;
}
.align-center {
    align-items: center;
}
.fs-22 {
    font-size: 22px;
}
.nav-items > ul {
    padding: 0;
    margin: 0 20px;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 10px;
}
.search {
    display: flex;
    margin: 20px 10px;
    align-items: center;
    justify-content: center;
}
.search-input {
    padding: 0 20px;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    border: 1px solid #decaca;
    margin-right: 30px;
}
h3.titleres {
    padding-left: 10px;
    margin: 10px 0;
}
.rest-card {
    background: #eceaf5;
    width: 14%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.rest-card .image > img {
    width: 200px;
    height: 200px;
}
.body-main {
    padding: 50px;
}
p.rating {
    margin:0 5px
}
p.time {
    margin: 0 10px;
}
.star-icon {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}
.desc, p.types {
    padding: 0 5px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
